  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo"><%= link_to 'TechjobsinJOGJA', root_path %></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a> <%= link_to 'Home', root_path %></a></li>
        <li> <%= link_to 'Jobs', jobs_path %> </li>
        <li> <%= link_to 'Article', articles_path %> </li>
        <li> <%= link_to 'Company', companies_path %> </li>
        <li> <%= link_to 'About Us', root_path %> </li>
      </ul>
    </div>
  </nav>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li> <%= link_to 'Jobs', jobs_path %> </li>
        <li> <%= link_to 'Article', articles_path %> </li>
        <li> <%= link_to 'Company', companies_path %> </li>
        <li> <%= link_to 'About Us', root_path %> </li>
    </ul>
 
